apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  DATABASE_URL: "postgresql+asyncpg://{{ .Values.database.user }}:{{ .Values.database.password }}@{{ .Release.Name }}-db:{{ .Values.database.port }}/{{ .Values.database.db }}"
